Repository go-mysql-org/go-mysql, pull requests merged in 2025-03, with the labels that each got.

#1004 Support MySQL vector type
  mysql/const.go
  mysql/rowdata.go
  notes/field_type.md
  replication/row_event.go
  server/stmt.go
Labels: enhancement, mysql, replication

#993 replace github.com/siddontang/go-log with log/slog
  README.md
  canal/canal.go
  canal/canal_test.go
  canal/config.go
  canal/dump.go
  canal/master.go
  canal/sync.go
  client/pool.go
  client/pool_options.go
  client/pool_test.go
  cmd/go-mysqlbinlog/main.go
  driver/driver_options_test.go
  dump/dumper.go
  go.mod
  go.sum
  mysql/mariadb_gtid.go
  mysql/queryattributes.go
  replication/binlogstreamer.go
  replication/binlogsyncer.go
  server/caching_sha2_cache_test.go
  server/server_test.go
Labels: enhancement

#1006 Improve unit tests around `Hasresultset` and `WriteValue`
  mysql/result.go
  mysql/result_test.go
  server/resp_test.go
  server/server_test.go
Labels: tests

#1016 Give `RowsEvent` a method to inspect the underlying event type.
  replication/row_event.go
  replication/row_event_test.go
  replication/transaction_payload_event_test.go
Labels: enhancement, replication
